nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--white-text);
  padding: 2rem;
  font-size: 1.1rem;
  z-index: 99;
}

.active {
  padding: 10px;
  background-color: var(--standard-color);
  color: var(--white-text);
  border-radius: 5px;
}

.not-active {
  padding: 10px;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.search {
  font-size: 1.2rem;
}

nav > .left {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  text-transform: capitalize;
}

nav > .middle {
  display: flex;
  align-items: center;
}

nav > .right ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

/* input[type="search" i]{
  min-width: 200px;
  width: 400px;
  max-width: 800px;
} */

nav > .right.small ul{
  gap: 1rem;
}

nav > .left a{
  display: flex;
  align-items: center;
  gap: 1rem;
}